.Navigation{
    display:flex;
    width:20em;
    justify-content: space-around;
}
.Navigation a{
    color:black;
    text-decoration: none;
}
.nav-holder {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: rgb(95, 196, 162);
    opacity: 90%;
    
}
body {
    
    background-color: black;
    opacity: 90%;
    color:white;
    font-size: 1.8vw;
}
.heading{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    color:black;
}
.heading h1{
    font-size: 2.5vw;
}
.content{
    margin-top:5vw;
    margin-left:5vw;
    margin-right:5vw;
    background-color: rgb(49, 80, 70);
    min-height: 25vw;
    border-radius: 5%;
}
.content p {
    padding: 0;
    margin: 0;
    padding-top:5vw;
    margin-left:5vw;
    margin-right:5vw;
}
.btns button {
    color:black;
    background-color: rgb(95, 196, 162);
    border:none;
    margin-top: 1.9vw;
    font-size: 1.5vw;
}
#messageBoard{
    max-width: 100%;
    min-height: 20vw;
    max-height: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top:5vw;
    padding-left:5vw;
    padding-right:5vw;
    display:flex;
    flex-direction: column-reverse;
    max-height: 20vw;
}
.controlCenter {
    margin-top: 5vw;
    display:flex;
    justify-content: center;
}
.controlCenter input {
    border-radius: 25%;
}
.controlCenter button {
    border-radius: 25%;
    background-color: rgb(108, 162, 58);
    margin-left:2vw;
}
.sign-in-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sign-in-form input, .sign-in-form button {
    width:25vw;
    margin-bottom:.7vw;
    margin-top:.7vw;
}
#messageBoard p{
    font-size: 2vw;
    padding:0;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin:0;
    margin-top: 1vw;
    background-color: rgb(44, 113, 83);
    border-radius: 5%;
}
#error p {
    color:red;
    padding:0;
    margin:0;
}